*{
    margin: 0; padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins' , sans-serif;
   transition: all 0.35s linear;
   color: white;
    text-decoration: none;
}



.loding{
    position: absolute;
    top: 50vh;
    margin: auto;
    font-size: 5rem;
    text-align: center;
}

#initial{
   width: 10rem;
   margin: auto;
}


body::-webkit-scrollbar{
    display: none;
}
html{
    scrollbar-width: none;
}

html{
    background-color:#181a1b;
}

.container-body {
    max-height: 100vh;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 10vh;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    flex-basis: 50%;
    float: left;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6rem;
}

.back {
    float: right;
    padding: 0.6rem;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.back a {
    font-size: 2rem;
}

.back a:hover i{
    color: green;
}

.container-main{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: fit-content;
    align-items: center;
}

.info{
    flex-basis: 50%;
    height: fit-content;
}

.pri-info{
    display: flex;
    align-items: center;
    padding: 1rem
}


.poster{
    height: 14rem;
    width: 12rem;
    margin: 1rem;
}

.poster img{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    transition: 2s;
}

.poster:hover img{
    transform: rotate3d(0, 2, 1,360deg);
}

.ele{
    width: 100%;
}

.title{
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
}

.tagline{
    margin: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
    color: #ffffff54;
}

.details{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: large;
    align-items: center;
}
.runtime{
    margin: 1rem;
}
.imbd-rating{
    margin: 1rem;
}
.release{
    margin: 1rem;
}
.provide{
    display: flex;
    align-items: center;
    text-align: center;
}
.provide img{
   width: 2rem;
   height: 2rem;
   margin: 1rem;
}


.sec-info{
    padding: 1rem;
}

.overview h1{
    margin-bottom: 1rem;
}

.trailer{
    width: 32rem;
    height: 18rem;
}
.trailer iframe{
    margin: .5rem;
}

@media (max-width:1393px) {
    html{
        font-size : 80%;
    }
}
@media (max-width:876px) {
    html{
        font-size : 70%;
    }
}

@media (max-width:855px) {
    .html{
        font-size: 100%;
    }
    .details{
        font-size: 2rem;
    }
    .tagline{
        width: 100%;
        text-align: center;
    }
    .title{
        width: 100%;
        text-align: center;
    }
    .container-main{
        flex-direction: column;
    }
    .overview{
        font-size: 1.5rem;
    }
    .trailer{
        margin: 1rem;
        max-width: 32rem;
    }
}

@media (max-width:500px) {
    .details{
        flex-direction: column;
    }
}